In [1]:
import numpy as np

In [2]:
import pandas as pd

## series

In [3]:
myDict = {"erol":50,"serhat":70,"talha":10}

In [4]:
pd.Series(myDict)

erol      50
serhat    70
talha     10
dtype: int64

In [5]:
myNumbers = [50,70,10]
myNames = ["erol","serhat","talha"]

In [6]:
pd.Series(myNumbers)

0    50
1    70
2    10
dtype: int64

In [7]:
pd.Series(myNames,myNumbers)

50      erol
70    serhat
10     talha
dtype: object

In [8]:
pd.Series(data=myNumbers,index=myNames)

erol      50
serhat    70
talha     10
dtype: int64

In [9]:
numpyArray = np.array([70,50,10])

In [10]:
pd.Series(numpyArray)

0    70
1    50
2    10
dtype: int32

In [14]:
pd.Series(["erolssss","serhatssss","ad覺Laz覺mDegilssss"],[7,8,9])

7             erolssss
8           serhatssss
9    ad覺Laz覺mDegilssss
dtype: object

In [15]:
firstRun = pd.Series([70,50,10],["erol","serhat","talha"])

In [16]:
firstRun

erol      70
serhat    50
talha     10
dtype: int64

In [17]:
secondRun = pd.Series([100,80,10],["erol","serhat","talha"])

In [18]:
secondRun

erol      100
serhat     80
talha      10
dtype: int64

In [19]:
secondRun["erol"]

100

In [20]:
secondRun+firstRun

erol      170
serhat    130
talha      20
dtype: int64